.ant-drawer-header-title{
	justify-content: end;
	flex-direction: row-reverse;
}

.ant-drawer-close {
	margin-inline-end: 0 !important;
	font-size: 26px;
}
.ant-drawer-content-wrapper{
	position: absolute !important;
	right: 0 !important;
}

// @media (width <= 650px) {
// 	.ant-drawer-header-title {
// 		h2{
// 			font-size: 20px;
// 		}
// 	}
// }

.ant-drawer-header{
	min-height: 51px !important;
	max-height: 51px !important;
}

.ant-breadcrumb {
	span.ant-breadcrumb-link {
		font-weight: 400;
	}
}